.container {
  text-align: center;
  margin-top: 15px;
}
.st {
  font-size: 17px;
  color: black;
}
.t1 {
  top: 60px;
  width: 50px;
  height: 50px;
  left: 200px;
  background: #69bca9;
  color: white;
  position: absolute;
}
.t2 {
  top: 60px;
  width: 50px;
  height: 50px;
  background: #69bca9;
  color: white;
  position: absolute;
  left: 580px;
}
.t3 {
  top: 60px;
  width: 50px;
  height: 50px;
  background: #69bca9;
  color: white;
  position: absolute;
  left: 959px;
}
.hjhj {
  top: -100px;
}
.pp {
  top: 100px;
}
.hnhn {
  position: absolute;
  background: #fff;
  height: 55px;
  width: 55px;
  top: 10px;
  left: 15px;
  color: #a9ffa4;
}
.hnhn span {
  text-align: center;
  display: block;
}
