.type-835 {
  font-family: Arial;
  background: #f1f1f1;
}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.leftcolumn {
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card .theimg {
  width: 50px;
  height: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .fakeimg img {
    height: 100%;
    width: 100%;
  }
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: -5px;
  margin-bottom: 10px;
}
.theread {
  border-bottom: 1px solid #8f7272;
  color: #333;
}
.theb {
  color: #333;
}
.img-hover-zoom--brightness {
  position: relative;
}
.img-hover-zoom--brightness img {
  transition: transform 1s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}
.img-hover-zoom--brightness img:hover {
  filter: brightness(100%);
  transform: scale(1.009);
}
.img-hover-zoom--brightness .hnhn {
  position: absolute;
  background: #fff;
  height: 55px;
  width: 55px;
  top: 10px;
  left: 10px;
}
.img-hover-zoom--brightness .hnhn span {
  text-align: center;
  display: block;
  font-weight: 500;
}
.theimg {
  width: 70px;
  height: 70px;
  text-align: right;
}
.mnb {
  border-bottom: 1px solid #333;
  width: 143px;
}
.maria {
  color: #333;
}
.maria:hover {
  color: #333;
  border-bottom: 1px solid #333;
}
.theb {
  color: #555353;
}
