.type-5 {
  background-image: linear-gradient(to bottom,rgba(27,24,185,0.664),rgba(49,16,168,0.555)), url("../images/doan1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.1px);
}
.type-5 .mili {
  text-align: center;
  color: #dac3c3;
  padding-top: 100px;
}
.type-5 .mili2 {
  text-align: center;
  color: white;
}
.type-5 .qwe {
  margin-bottom: 243px;
}
.type-5 .button#menu1 {
  padding: 6px 77px;
}
.type-5 .p {
  color: white;
}
.type-5 .tren {
  color: white;
}
.type-5 .fooot1 {
  color: white;
}
.type-5 .fooot1:hover {
  color: red;
}
.type-5 .foot {
  padding-top: 50px;
  margin-left: 16px;
}
