.type-572 .anhbody {
  width: 100%;
  height: 500px;
}
.type-572 .backgroundbody {
  background-color: #e8e9ec;
  font-variant: small-caps;
}
.type-572 .chumo {
  color: #7a7575;
  padding-top: 10px;
}
.type-572 .tomau {
  color: blue;
}
.type-572 .cachtren {
  padding-top: 60px;
}
.type-572 .gadit {
  padding-bottom: 10px;
}
.type-572 .adudu {
  background-color: #e8e9ec;
}
