.type-2 .myimg {
  width: 100%;
  height: 500px;
  background-image: cover;
  margin-bottom: 30px;
}
.type-2 .adudu-fiste {
  text-align: center;
}
.type-2 .myimg:hover {
  box-shadow: 1px 1px 5px 5px;
  transform: scale(1.002);
}
.type-2 .adudu-fakebtn {
  border: 2px solid #c5b1b1;
  width: 179px;
  height: 41px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 15px;
  margin: 0 auto;
}
.type-2 .adudu-fakebtn:hover {
  background: #c5b1b1;
  border: 3px solid #948282;
  transform: scale(1.002);
}
.type-2 .adudu-a {
  text-decoration: none;
}
.type-2 .adudu-h31 {
  margin-bottom: 40px;
}
.type-2 .adudu-p1 {
  margin-bottom: 40px;
}
