.type-17 .loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  overflow: hidden;
  font-family: 'roboto';
}
.type-17 .loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'roboto';
}
.type-17 .loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.type-17 .loginmodal-container input[type=text],
.type-17 input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.type-17 .loginmodal-container input[type=text]:hover,
.type-17 input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.type-17 .loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}
.type-17 .loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}
.type-17 .loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}
.type-17 .loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
.type-17 .login-help {
  font-size: 12px;
}
.type-17 .section-or {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.type-17 .section-or .or {
  font-size: 20px;
  opacity: .6;
}
.type-17 .section-or b {
  display: block;
  flex: 1;
  height: 2px;
  opacity: .1;
  background-color: #706d6d;
}
.type-17 .create-new a {
  background: #fff;
  width: 45%;
  float: left;
  padding: 15px 15px;
  margin-bottom: 20px;
}
.type-17 .create-new .ocialfb {
  border: 1px solid #4141f3;
  color: blue;
}
.type-17 .create-new .ocialfb:hover {
  background: blue;
  color: #fff;
}
.type-17 .create-new .ocialGoogle {
  float: right;
  border: 1px solid #f33232;
  color: red;
}
.type-17 .create-new .ocialGoogle:hover {
  background: red;
  color: #fff;
}
.type-17 .create-new .ociaLink {
  border: 1px solid #6565e7;
  color: #4c4cf1;
  margin-right: -2px;
}
.type-17 .create-new .ociaLink:hover {
  background: #4c4cf1;
  color: #fff;
}
.type-17 .create-new .ocialTwitter {
  float: right;
  border: 1px solid #4141f3;
  color: rgba(81,151,209,0.89);
}
.type-17 .create-new .ocialTwitter:hover {
  background: rgba(81,151,209,0.89);
  color: #fff;
}
