.type-1 .top-header {
  position: fixed;
  min-width: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 62px;
  background: url(../images/slider1.jpg) no-repeat;
  background-size: cover;
  transition: transform 350ms;
}
.type-1 .top-header.hides {
  transform: translateY(-100px) !important;
}
.type-1 .logo-menu img {
  width: 40%;
  margin-top: -15px;
}
.type-1 .navbar-default {
  padding: 10px 0;
  background: none;
  border: none;
  width: 100%;
}
.type-1 .navbar-default .navbar-default .navbar-nav>li>a {
  color: none;
}
.type-1 .dmenu .active {
  color: #ffffff;
}
.type-1 .login {
  color: #ffffff !important;
}
.type-1 .register {
  color: #ffffff !important;
}
@media screen and (max-width: 671px) {
  .logo-menu img {
    margin-top: -64px !important;
  }
  #collapsibleNavId {
    position: absolute;
    background: #175CDB;
    z-index: 1;
    top: 4.45em;
    left: 0;
    width: 100%;
    padding-left: 20px;
  }
}
@media screen and (max-width: 500px) {
  .form-inline .dropdow-button {
    width: 453px;
  }
  .form-inline input {
    margin: 10px 0;
  }
  .form-inline .identity {
    width: 453px;
  }
}
