.type-572 .tabbable-panel {
  padding: 10px;
}
.type-572 .tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.type-572 .tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.type-572 .tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: black;
  padding-left: 250px;
}
.type-572 .tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.type-572 .tabbable-line > .nav-tabs > li.open,
.type-572 .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 1px solid #888888;
}
.type-572 .tabbable-line > .nav-tabs > li.open > a,
.type-572 .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.type-572 .tabbable-line > .nav-tabs > li.open > a > i,
.type-572 .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.type-572 .tabbable-line > .nav-tabs > li.open .dropdown-menu,
.type-572 .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.type-572 .tabbable-line > .nav-tabs > li.active {
  border-bottom: 1px solid #888888;
  position: relative;
}
.type-572 .tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.type-572 .tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.type-572 .tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.type-572 .portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
.type-572 .tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 1px solid transparent;
}
.type-572 .tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.type-572 .tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 1px solid #fbcdcf;
}
.type-572 .tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 1px solid #f3565d;
}
.type-572 .tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
