.type-14 {
  background-image: url(../images/bg.jpg);
  padding-top: 50px;
}
.type-14 .title {
  margin-bottom: 84px;
}
.type-14 .title h1 {
  color: #ffffff;
  padding-bottom: 30px;
}
.type-14 .title span {
  color: #f5f3f3;
  margin-bottom: 20px;
}
.type-14 .google {
  background: #FF9B0F;
  padding: 20px 40px;
  margin-right: 20px;
  color: #ffffff;
}
.type-14 .store {
  background: #ffffff;
  padding: 20px 40px;
  color: #000000;
}
.type-14 button {
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.type-14 button:hover {
  transform: scale(0.8);
}
