
.type-2 {
    .myimg{
        width: 100%;
        height: 500px;
        background-image: cover;
        margin-bottom: 30px;
    }
    .adudu-fiste{
        text-align: center;
    }
    .myimg:hover{
        box-shadow: 1px 1px 5px 5px;
        transform: scale(1.002);
    }
    .adudu-fakebtn{
        border: 2px solid #c5b1b1;
        width: 179px;
        height: 41px;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 15px;
        margin: 0 auto;
    }
    .adudu-fakebtn:hover{
        background: rgb(197, 177, 177);
        border:3px solid rgb(148, 130, 130);
        transform: scale(1.002);
    }
    .adudu-a{
        text-decoration: none;
    }
    .adudu-h31{
        margin-bottom: 40px;
    }
    .adudu-p1{
        margin-bottom: 40px;
    }
}