.oo {
  text-align: center;
  border-bottom: 2px solid #2cdbd3;
  margin-right: 610px;
  margin-left: 610px;
}
.swiper-wrapper .swiper-slide {
  background: #eee;
}
.pipi {
  position: absolute;
  left: 1005px;
}
.pipi1 {
  position: absolute;
  left: 1005px;
  top: 205px;
}
a {
  color: #ff4141;
  text-decoration: none;
}
